* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.left-section {
    width: 35vw;
    background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    position: relative;
}

.logo {
    display: flex;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.308);
    height: 150px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 200px;
}

.left-section .logo img {
    height: 100px;
}

#logo-name {
    font-weight: 700;
    font-size: 5rem;
    color: white;
}

.image-credit {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;

    span {
        color: white;
    }

    span a {
        color: white;
    }
}

.content-section {
    width: 65vw;
    background-color: rgb(220, 224, 226);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;

    p,
    button {
        width: 70%;
    }

    p:nth-child(1),
    p:nth-child(2) {
        font-weight: 700;
        font-size: 2rem;
        padding-left: 100px;
    }

    form {
        background-color: white;
        padding: 50px 100px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    form span {
        font-weight: 500;
        font-size: 2rem;
    }

    form div {
        display: flex;
        width: 60%;
        margin-right: 60px;
    }

    form div div {
        display: flex;
        flex-direction: column;
        width: 50%;

    }

    input{
        border-radius: 2px;
        border: 2px solid lightgray;
        outline: none;
    }

    input:focus {
        border: 2px solid lightblue;
        outline: none;
    }

    input[type="text"]:invalid {
        border: 2px solid red;
        outline: none;
    }


    #registrationFormButton {
        background-color: #596D48;
        color: white;
        /* border: 1px solid black; */
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 5px;
        width: 200px;
        height: 40px;
        font-size: 1rem;
        margin-left: 100px;
    }

    p:last-child {
        font-weight: 700;
        font-size: 1rem;
        margin-left: 100px;
    }

}